@model IEnumerable<Labb_3_Mvc.Cinema.Models.Conjunction>
@{
    ViewData["Title"] = "BookMovie";
    var maxnrofseats = 0;
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="mmovietext">

            <h2>@item.Movie.Title </h2>
            <hr />
            <div class="textgenre">

                <h4>Genre: @item.Movie.Genre</h4>
            </div>
            <div class="textage">

                <h5>Recommended Age: @item.Movie.AgeRange</h5>
            </div>
            <div class="textage">

                <h5>Movie Length: @item.Movie.Length</h5>
            </div>

            <hr />

            <!--<div class="clientinfo">
                <b>Name:</b> <div class="namediv"><input type="text" maxlength="30" id="nameInput" name="nameInput" required /></div>
                <br />
                <b>Email:</b> <div class="emaildiv"><input type="email" maxlength="30" id="emailInput" name="emailInput" required /></div>
                <br />
                <b>Telephone:</b> <div class="telephonediv"><input type="tel" maxlength="20" id="telInput" name="telInput" required /></div>
            </div>-->

            @if (item.Movie.SeatsNr > 0)
            {
                <h4>Please provide the information requested below:</h4>
                <hr />

                @if (item.Movie.SeatsNr > 12) { maxnrofseats = 12; } else { maxnrofseats = item.Movie.SeatsNr; }
                <div>
                    Number of seats available : @item.Movie.SeatsNr
                </div>
            }

            @if (maxnrofseats > 0)
            {
                <form method="post" asp-action="Thanks" asp-route-id="@Html.Encode(item.Id)">

                <div class="seats">
                    <p>Choose the number of seats (Max @maxnrofseats).</p>
                    <input type="number" min="1" max="@maxnrofseats" step="1" value="1" id="seatsInput" name="seatsInput" />
                </div>

                <div class="bookingbutton">
                    <hr />
                    <button type="submit" class="btn btn-default">Book</button>
                </div>
                </form>
            }
            else
            {
                <div class="seats">
                    <h2 style="color:red">There are no more seats available.</h2>
                </div>
                <hr />
                <a asp-action="Index" class="btn btn-default">Back to Home</a>
            }

        </div>
    </div>
}


