@model IEnumerable<Labb_3_Mvc.Cinema.Models.Conjunction>

@{
    ViewData["Title"] = "Index";
    var imgurl = @"";
}

<h2>Berras Bio</h2>

<table class="table">
    <thead>
        <tr>
            <th></th> <!-- Image div -->
            <th>
                Title
            </th>
            <th>
                Genre
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Movie.Imgurl == null)
            {
                imgurl = @"https://i.imgur.com/xcJTuab.png";
            }
            else
            {
                imgurl = $"{item.Movie.Imgurl}";
            }
            <tr>
                <td height="100px" width="100px" class="img-rounded">
                    <a asp-action="Movie" asp-route-id="@Html.Encode(item.Movie.Id)"> <img src="@imgurl"></a>
                </td>
                <td width="300px">
                    <a asp-action="Movie" asp-route-id="@Html.Encode(item.Movie.Id)">@Html.Encode(item.Movie.Title)</a>
                </td>
                <td>
                    @Html.Encode(item.Movie.Genre)
                </td>
                <td>
                    <b>Room: @Html.Encode(item.Room.Id)</b> <div class="text-info">Status: @Html.Encode(item.Room.Status)</div>
                </td>
            </tr>
        }
    </tbody>
</table>
